/* ==========================
   1. Global Styles
   ========================== */
:root {
  --vp-c-brand-1: red;
  --vp-c-brand-2: red;
  --vp-c-brand-3: #d8232a;
  --vp-c-text-4: #0456a0;
  --vp-c-text-5: #6f42c1;
  --vp-c-text-6: #008b7f;
}

.dark {
  --vp-c-text-4: #9ecbff;
  --vp-c-text-5: #b392f0;
  --vp-c-text-6: #00e8c6;
}

* {
  box-sizing: border-box;
}

figcaption {
  font-size: 0.8rem;
  color: var(--vp-c-text-2);
}

/* ==========================
   2. Layout Styles
   ========================== */
.releases-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.status-announcements-container {
  display: flex;
  flex-direction: column;
}

.status-container,
.announcements-container {
  flex-basis: 50%;
}

.status-alert {
  min-height: 150px;
}

/* ==========================
   3. Component Styles
   ========================== */

/* Releases List */
.releases-list {
  flex: 1 1 30%;
  min-width: 0;
}

.releases-list a {
  text-decoration: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  color: var(--vp-c-text-1);
}

.releases-list div {
  height: 80px;
  border-top: lightgray solid 1px;
}

.releases-list div:last-child {
  border-bottom: lightgray solid 1px;
}

.releases-list p {
  margin: 0;
  font-weight: bold;
}

.releases-preview {
  flex: 1 1 70%;
  min-width: 0;
}

.releases-preview-content {
  max-height: 400px;
  overflow: hidden;
  width: 100%;
}

.releases-preview p {
  margin: 0 0 10px 0;
}

.api-block {
  background-color: var(--vp-code-block-bg);
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 20px 20px;
}

.api-block pre {
  background-color: transparent;
}

.method-button {
  display: inline-block;
  padding: 2px 12px;
  border-radius: 30px;
  background-color: var(--vp-c-brand-1);
  color: white;
  text-decoration: none;
  font-weight: bold;
  pointer-events: none;
}

#layer-table {
  width: 100%;
  max-height: 600px;
  border-collapse: collapse;
  margin-top: 20px;
}

#layer-table-headers {
  background-color: var(--vp-c-bg-2);
  position: sticky;
  top: 0;
  z-index: 1;
}

/* ==========================
   4. Utility Classes
   ========================== */
#link-with-icon {
  text-decoration: none;
  color: var(--vp-c-text-1);
  display: flex;
}

#link-with-icon:hover {
  color: #d8232a;
}

/* ==========================
   5. Media Queries
   ========================== */
@media (min-width: 768px) {
  .releases-container {
    flex-direction: row;
  }

  .status-announcements-container {
    flex-direction: row;
    gap: 50px;
  }
}
